*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    width: 1349px;
    height: 100px;
    background-color: orange;
}
#insta{
    position: relative;
    top: 0px;
    left: 1000px;
    height: 50px;
    width: 50px;
}
#logo{
    width: 8%;
    top: 10.58px;
    left: 10px;
    position: relative;
    border-radius: 10%;
}
#faleConosco{
    position: absolute;
    left: 1179px;
    top: 0px;
    border-style: none;
    background-color: rgb(15, 150, 15);
    color: white;
    height: 100px;
    width: 170px;
    font-size: x-large;
    text-align: center;
}
button:hover{
    background-color: rgb(116, 206, 116);
    
}
.carrosel{
    width: 1349px;
}
.img{
    position: relative;
    top: 60px;
    width: 1349px;
    height: 764px;
    
}
#sobreNos{
    border-style: none;
    background-color: orange;
    color: white;
    font-size: medium;
    font-weight: 500;
}
#sobreNos:hover{
    font-weight: 700;

}

li{
    list-style: none;
    list-style-position: inside;

}
nav{
    position:relative;
    justify-items:end;
}